{# templates/partials/havbar.html.twig #}
<nav>
    <ul>
        <li><a href="{{ path('posts_ajax') }}">Posts AJAX</a></li>
        <li><a href="{{ path('posts_load') }}">Post</a></li>
        <li><a href="{{ path('photos') }}">Photos</a></li>
        <li><a href="{{ path('lucky_number') }}">Lucky Number</a></li>
    </ul>
</nav>
